<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bum.icehockeyfordummies">

    <application
        android:name=".database.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".user_interface.MainActivity"
            android:parentActivityName=".user_interface.GameCenterActivity" />
        <activity android:name=".user_interface.GameCenterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".user_interface.NLActivity" />
        <activity android:name=".user_interface.MSLActivity" />
        <activity android:name=".user_interface.RLActivity" />
        <activity android:name=".user_interface.SettingsActivity" />
        <activity android:name=".user_interface.SLActivity" />
        <activity android:name=".user_interface.ClubsActivity" />
        <activity android:name=".user_interface.ClubActivity" />
        <activity android:name=".user_interface.PlayerActivity" />
        <activity android:name=".user_interface.AddClubActivity" />
        <activity android:name=".user_interface.AddPlayerActivity"></activity>
    </application>

</manifest>